@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width:1280px) {
    section {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}.shadow-speaker {
    --tw-shadow: 0 0 0 2px #e9493d;
    --tw-shadow-colored: 0 0 0 2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}