@tailwind base;
@tailwind components;
@tailwind utilities;
.shadow-speaker {
  --tw-shadow: 0 0 0 2px rgb(223, 151, 44);
  --tw-shadow-colored: 0 0 0 2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.content-shadow {
  box-shadow: rgb(223, 151, 44) 0px 9px 20px,
    rgba(223, 151, 44, 0.4) 10px 10px 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.4);
}
@media (min-width: 768px) {
  .shadow-home {
    box-shadow: rgb(223, 151, 44) 0px 9px 20px,
      rgba(223, 151, 44, 0.4) 10px 10px 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .shadow-dinner {
    box-shadow: rgba(223, 151, 44, 0.4) 10px 10px 10px,
      rgb(223, 151, 44) 0px 9px 20px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .home-bg {
    z-index: 0;
    overflow: hidden;
    background-image: url(/bg1.svg);
    background-size: cover;
    background-position: center -200px;
    background-repeat: no-repeat;
  }
  .about-bg {
    z-index: 0;
    overflow: hidden;
    background-image: url(/bg2.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .sponsor-bg {
    position: relative;
    z-index: 0;
    overflow: hidden;
    background-image: url(/bg2.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .footer-bg {
    position: relative;
    z-index: 0;
    overflow: hidden;
    background-image: url(/bg3.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: 0.01;
  }
}
.headernav {
  font-size: 15px;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
@media (min-width: 760px) {
  .headernav {
    font-size: 16px;
  }
  .din_eve {
    width: 250px;
    height: auto;
  }
  .contructbg {
    z-index: 0;
    overflow: hidden;
    background-image: url(/bg1.svg);
    background-size: cover;
    background-position: center -200px;
    background-repeat: no-repeat;
  }
}

@media (min-width: 1024px) {
  .headernav {
    font-size: 20px;
  }
  .din_eve {
    width: 250px;
    height: auto;
  }
}
@media (min-width: 1240px) {
  .headernav {
    font-size: 24px;
  }
  .din_eve {
    width: 350px;
    height: auto;
  }
}
@media (max-width: 760px) {
  .contructbg {
    background-color: rgba(0, 0, 0, 0.8);
  }
}
.custom-shadow {
  box-shadow: rgba(223, 151, 44, 0.4) 20px 15px 12px,
    rgb(223, 151, 44) 0px 9px 38px;
}
.contruct {
  background-color: rgba(0, 0, 0, 0.8);
  cursor: copy;
}
.contruct:hover {
  background-color: rgba(0, 0, 0, 0.9);
}
